Package: com.user.lilywhite
Name: Lilywhite
Version: 0.1.0
Architecture: iphoneos-arm64
Description: A clean integrated status bar capsule for iOS 17.
Maintainer: USER
Author: USER
Section: Tweaks
Depends: mobilesubstrate
